:root {
  --background: white;
  --primary: #2a3663;
  --secondary: #B9D6F2;
  --accent: #b59f78;
  --text-primary: #333333;
  --text-secondary: #666666;
  --border-color: #e0e0e0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}